html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color:#00FF00;
  font-size: 14;
}

h1{
  font-size: 24px;
  top: 40%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

h1 a{
  color: #FFFFFF;
  text-decoration:none;
}

path{
  stroke-linecap: square;
  stroke: white;
  stroke-width: 0.5px;
}

canvas {
  padding: 10px;
}